ul {
	list-style : none;
}

body {
	font-family: NanumGothic, '나눔고딕', NanumGothicWeb, helvetica, arial, sans-serif, '돋움', dotum;
}

#social {
	width:100%;
	height:50px;
	overflow:auto;
}

#social ul {
	float: left;
	margin : 0;
}

#social ul li {
	float: left;
	display: block;
 	margin : 2px;
}

.sum {
	font-size : 23px;
	color : #f63a18;
}

div .H {
	background:#000;
	width:100%;
	height:40px;
	overflow:hidden;
	clear:both;
	text-align : center;
}

.H {
	color : white;
}

#home image {
	float : left;
}


div .homecontents {
	float : left;
	width : 400px;
}

#pastimage {
	float : left;
}

.contetns {
	float :left;
}

	

